@import '../../styles/variables.scss';

.create__signin {
  display: block;
}

.signin__form {
  display: flex;
  flex-direction: column;

  &__errors {
    font-size: 12px;
    color: red;
    font-style: italic;
  }
}
