@import './variables.scss';

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    width: 100%;
    font-family: $Poppins;
    color: $lightText;
    background-color: #7C4EE4;
}

#root {
    height: 100%;
}