@import '../../styles/variables.scss';

.feature__slide {
  padding-bottom: 30px;
}

.feature__slide__container {
  display: flex;
  gap: 10px;
  padding-left: 10px;
  padding-bottom: 30px;
  @media (max-width: 450px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
