@import '../../styles/variables.scss';

.blog__card {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: $borderRadius;
  overflow: hidden;
  width: 100%;

  &__post__image {
    height: 200px;
    width: 75%;
    margin: auto;
    background-size: cover;
    background-position: center;
  }

  &__post__details {
    padding: 15px;
    flex-grow: 2; /* Takes 2/3 of the remaining space */
    display: flex;
    flex-direction: column;

    &__title {
      font-size: 13px;
      padding: 10px;
      background-color: rgb(0, 0, 0);
      color: white;
      width: fit-content;
      border-radius: $borderRadius;
      text-align: justify;
    }

    &__description {
      font-size: 13px;
      padding: 10px;
      background-color: rgb(0, 0, 0);
      color: white;
      width: fit-content;
      border-radius: $borderRadius;
      text-align: justify;
      height: 110px;
    }
  }

  &__creator__details {
    display: flex;
    flex-direction: column;
    padding: 10px;

    &__holder {
      display: flex;
      gap: 10px;

      &__img {
        width: 60px;
        height: 60px;
        border-radius: 50%;
      }

      &__time {
        font-size: 12px;
        color: black;
        margin-top: 20px;
      }
    }
  }

  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    padding: 6px;
    background-color: #7c4ee4;
    color: white;
    text-transform: uppercase;
    border-radius: $borderRadius;
    border: none;
    font-weight: bold;
    width: 100%;
  }

  &__creator__details__tags__content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    padding: 10px;
    margin-top: 30px;
    padding-bottom: 30px;
    cursor: pointer;

    @media screen and (min-width: 450px) and (max-width: 768px) {
      grid-template-columns: 1fr 1fr;
      /* height: 110vh; */
    }
    @media screen and (min-width: 768px) and (max-width: 1000px) {
      grid-template-columns: 1fr 1fr 1fr;
      /* height: 110vh; */
    }
    &__text {
      padding: 4px;
      font-size: 10px;
      color: white;
      background-color: teal;
      border-radius: $borderRadius;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
